* {
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    margin: 0;
}


body {
    font-family: Heebo;
    margin: 0px 235px;
}


h1 {
    font-size: 44px;
    font-family: Heebo;
    margin: 106px 0px 55px 0px;
}

.blog {
    margin-bottom: 32px;
}

.blog h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 44px;
    vertical-align: top;

}

.blog span {
    margin-left: 26px;
    margin-right: 26px;
    color: #8695A4;
}

.desc {
    
    font-size: 16px;
    line-height: 24px;
    align-content: left;  
   padding-top: 6px;  
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 29px;
}

.social-icons {
    text-align: center;
    margin-top: 109px;
}

.icon {
    margin-left: 35px;
    margin-bottom: 26px;
}

.social-icons p {
    margin-bottom: 54px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 35px;
    color: #21243D;
}